@charset "utf-8";
/* CSS Document */

*{
	margin: 0 auto;
	list-style: none;
	font-family: "맑은 고딕";
	padding: 0;
}

body {

}

img{
	max-width: 100%;
	vertical-align: bottom;
}
.all{
	width: 100%;
	float: left;
}
.contents {
	width: 100%;
	max-width: 1000px;
}
.top{
	width: 100%;
	text-align: center;
	/*background-color:#FFFFFF;*/
	background-repeat: no-repeat;
	background-position: center;
}
.wrap{
	width: 100%;
	text-align: center;
}
.btn_box {
	/*padding-bottom:100px;*/
	max-width:100%;
	height:auto
	display: block;
}
.btn {
	max-width:100%;
	height:auto
	display: block;
	padding-bottom:120px;
	background-color:#FFFFFF
}
.con1 {
	background-color:#FFFFFF
}
.con2 {
	background-color:#FFFFFF
}
.con3 {
	background-color:#FFFFFF
}
.con4 {
	background-color:#FFFFFF
}
.footer_warp{
	width:100%;
	text-align: center;
	color:#FFFFFF;
	background-color:#444;
	padding-top:50px;
	padding-bottom:50px;
	line-height: 1.8em;
}

.site_text a{
	color:#FFFFFF;
	text-decoration:none;
}



.popup-body {
		position: fixed; 
		top: 10%; 
		left: 50%; 
		width:auto; 
		z-index: 20; 
		transform: translate(-50%, 0); 
		text-align: center;
}
.popup-area .bg
{ 
position: fixed; 
top: 0 ; 
left:0; 
right:0; 
z-index: 10; 
width: 1000px; 
max-width: 100%; 
height: 100%; 
margin:0 auto; 
background:
rgba(0,0,0,0.5); 
}
.popup-body button{
	position: absolute;
    top: 10px;
    right: 10px;
    width: 3em;
    height: 3em;
    border: none;
    background: url(../img/close.png)no-repeat center;
    background-size: 3em 3em;
}

button {
    cursor: pointer;
}

@media all and (max-width: 1200px) {
    .popup-area {
        width: 80%;
    }
    .popup-area img{width: 99%;}
}


#review {padding: 0.1% 0.5%;background: #18A8F1;}
#review .review_title{font-size: 40px;text-align: center;font-weight: 600;color: #fff;margin-bottom: 30px;}
#review .review_item_wrap{    height: 245px;
    color: #fff;
    border: 2px solid #fff;
    padding: 1%;}
#review .review_item_wrap .marquee_section{overflow: hidden;
    height: 235px;}
#review .review_item_wrap .marquee_section_item{display:inline-block;vertical-align:top;width:46%;padding: 0 2%;}
#review .review_item_wrap li {font-size:20px;text-align:center;line-height:40px}
#review .review_item_wrap .rv_title{display:inline-block}
#review .review_item_wrap .rv_price{display:inline-block}
#review .review_item_wrap .rv_name{display:inline-block}
#review .review_item_wrap .rv_status1{display:inline-block;color:#FBDC05;font-weight:700}
#review .review_item_wrap .rv_status2{display:inline-block;color:#e6dfff;font-weight:700}

@media all and (max-width:880px){
	#review .review_item_wrap li {font-size:16px;}
}



@media all and (max-width:700px){
	#review .review_title{font-size: 24px;margin-bottom: 18px;}
	#review .review_item_wrap .marquee_section_item{width:100%}
	#review .review_item_wrap li{font-size:14px;line-height:26px}
	#review .review_item_wrap {height: 215px;}
	#review .review_item_wrap .marquee_section {height: 182px;}
	#review #estimate_marquee2{display:none}
	#footer .footer_inner {font-size: 13px;line-height: 20px;padding: 4% 3% 3%;	}
}
